task:
    resource: "@TaskBundle/Resources/config/routing.yml"
    prefix:   /

app:
    resource: "@AppBundle/Controller/"
    type:     annotation

fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"

tasks:
    resource: "@TaskBundle/Controller/TaskController.php"
    type:     annotation

homepage:
    pattern:  /
    defaults: { _controller: TaskBundle:Default:index }
